.navbar {
  background-color: #333;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px 10px 50px;
  width: 100vw;

  a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    transition: text-decoration 0.2s;

    &:hover {
      text-decoration: underline;
    }
  }

  .logout-btn-container {
    margin-left: auto;
  }

  .logout-btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;

    &:hover {
      background-color: rgba(213, 213, 213, 0.378);
      color: #333;
    }
  }
}
